* {
  box-sizing: border-box;
  margin: 0;
  /* font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: inherit;
}

html,
body {
  width: 100%;
  font-family: Poppins, sans-serif;
}

main {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

header {
  /* width: 100%; */
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 24px 32px;
  max-width: 1280px;
  /* max-height: 88px; */
}

.logo img {
  aspect-ratio: auto;
}

h2,
h3 {
  font-weight: normal;
  padding-bottom: 16px;
}

h3 {
  margin-left: 12px;
}

small {
  color: rgb(53, 52, 52);
}

section {
  margin-bottom: 68px;
}

ol {
  padding: 0;
}

section:last-of-type {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-image: url(./assets/afternoonMeals.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 170px;
}

.horizontal-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px 18px;
  margin-bottom: 24px;
  text-align: center;
  word-spacing: 2px;
  color: yellow;
}

.horizontal-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: auto;
  padding: 18px;
  font-weight: bolder;
  font-size: large;
  background: rgba(0, 128, 0, 0.6);
  position: relative;
  overflow: hidden;
  color: #333;
}

.background-text {
  position: absolute;
  color: lightgreen;
  left: 2px;
  font-size: 10rem;
  font-weight: 600;
  padding-right: -18px;
  font-family: Times, serif;
}

.horizontal-list li p {
  z-index: 1;
}

@media width and (min-width=760px) {
  .logo {
    flex-wrap: nowrap;
    /* max-width: 1280px; */
    max-height: 88px;
    /* margin: 0 auto; */
  }
}

@media screen and (min-width="1280px") {
}
