* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  padding: 28px;
}

header,
section,
footer {
  padding: 24px;
}

header {
  background: rgb(24, 22, 22);
  color: white;
  text-align: center;
  width: 100%;
}

header > h1 {
  font-size: 32px;
  margin: 0;
}

header > span {
  font-size: 28px;
}

h2,
h3 {
  font-weight: normal;
}

h3 > small {
  color: rgb(53, 52, 52);
}

.section-content {
  padding-left: 18px;
}

section {
  border-bottom: 1px solid #ccc;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

img {
  width: 100%;
  max-width: 340px;
}

/* 
h1 {
  margin: auto;
  text-align: center;
  padding-left: 50px;
  background-color: black;
  color: white;
}
h2 {
  margin-left: 20px;
  color: aliceblue;
  border-color: black;

  background-color: rgb(68, 2, 2);
}

h3 {
  padding-left: 50px;
}

p {
  padding-left: 70px;
}

div ol {
  padding-left: 50px;
}

div ul {
  padding-left: 50px;
}

div {
  padding-left: 100px;
}

img {
  position: auto;
  margin-top: -50;
  padding-left: 100px;
  padding-top: 0;
}

ol span {
  font-weight: bolder;
}

section {
  background-color: rgb(68, 2, 2);
  color: white;
  padding-bottom: 0;
} */
