* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
}

main {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

header {
  padding: 24px 32px;
  width: 100%;
}

h2,
h3 {
  font-weight: normal;
  padding-bottom: 24px;
}

h3 {
  margin-left: 12px;
}

small {
  color: rgb(53, 52, 52);
}

section {
  margin-bottom: 48px;
}

ol {
  padding: 0;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

footer > img {
  width: 100%;
  max-width: 240px;
}

.logo {
  width: 100%;
  max-width: 640px;
  /* margin-left: 32px; */
}

.horizontal-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 18px;
  margin-bottom: 24px;
  text-align: center;
  word-spacing: 2px;
}

.horizontal-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: auto;
  border: 1px solid #999;
  padding: 18px;
  font-weight: bolder;
  color: #333;
  position: relative;
  overflow: hidden;
}

.background-text {
  position: absolute;
  z-index: -1;
  left: 2px;
  color: #ccc;
  font-size: 9rem;
  font-weight: 600;
  padding-right: -18px;
}

/* 
h1 {
  margin: auto;
  text-align: center;
  padding-left: 50px;
  background-color: black;
  color: white;
}
h2 {
  margin-left: 20px;
  color: aliceblue;
  border-color: black;

  background-color: rgb(68, 2, 2);
}

h3 {
  padding-left: 50px;
}

p {
  padding-left: 70px;
}

div ol {
  padding-left: 50px;
}

div ul {
  padding-left: 50px;
}

div {
  padding-left: 100px;
}

img {
  position: auto;
  margin-top: -50;
  padding-left: 100px;
  padding-top: 0;
}

ol span {
  font-weight: bolder;
}

section {
  background-color: rgb(68, 2, 2);
  color: white;
  padding-bottom: 0;
} */
